SOURCE_URL=https://gas-monitoring.admlr.lipetsk.ru/reports/?scope=recent_reports&search=&brand=&district=&is_working=&fuel_92_status=&fuel_95_status=&fuel_diesel_status=&queue=&reported=
COLLECT_INTERVAL_SECONDS=300
DATA_DIR=./data
PORT=18743
TIMEZONE=Europe/Moscow
SAVE_SNAPSHOT_FILES=true
